.test {
    text-decoration: none;
}
/* .appbar {
    background-color: #102027;
    color: #62727b;
}

.navtext {
    color: #eceff1;
}


*/

/* .hammenu {
    background-color: #37474f;
}  */

/* .navtextham {
    background-color: #102027;
} */